<div id="carouselExampleControls" class="carousel slide" data-bs-ride="carousel">
  <div class="carousel-inner">
    <div
      class="carousel-item active d-flex justify-content-center align-items-center flex-column"
      style="background-image: url(https://i.im.ge/2022/05/08/rwuhhC.jpg)"
    > 
      <div class="title text-center">
        <h1 class="display-2 caption m-0">Sacred Heart School</h1>
        <h2 class="display-5 caption m-0 sub-caption">"Walk As Children Of Light"</h2>
      </div>
    </div>
    
  </div>
  <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleControls" data-bs-slide="prev">
    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Previous</span>
  </button>
  <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleControls" data-bs-slide="next">
    <span class="carousel-control-next-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Next</span>
  </button>
</div>

<style>
  .caption {
    color: #fff;
    font-weight: bold;
    font-family: 'Cinzel', serif;
    text-shadow: 1rem;
  }
  .sub-caption {
    color: #FFCB05;
  }
  .title {
    margin-top: 10vw;
  }
  .carousel {
    z-index: 0;
  }
  .carousel-item {
    background-size: cover;
    background-position: center top;
    background-repeat: no-repeat;
    width: 100vw;
    aspect-ratio: 2/1;
  }
</style>