<div class="circle">
  <div class="content h1"><slot /></div>
</div>

<style>
.circle {
  width: 150px;
  height: 150px;
  border-radius: 50%;
  border: 3px solid #FFCB05;
  display: inline-flex;
  justify-content: center;
  align-items: center;
}
</style>