---
import LearnMoreBtn from './LearnMoreBtn.astro';

---
<div class="hero text-center my-5">
  <h1 class="mb-4 text-uppercase about display-5">About&nbsp;<span class="hero-name fw-bold">Sacred Heart</span>&nbsp;SCHOOl</h1>
  <p class="h4">On 5th April, 1971, Sacred heart School came into existence with the motto of "Walk as children of Light" (Ephesians 5:8) The founders, Late G. A. Abraham and Late Vasantha Abraham, had the vision to give world class education to the children of this region. Late G. A. Abraham was an able administrator and a retired Indian Army Officer. Late Vasantha Abraham was a veteran teacher and an eminent educationalist.</p>
  <LearnMoreBtn>Learn More</LearnMoreBtn>
</div>
<style>
  .hero {
    background-color: var(--bs-green);
    color: #fff;
    font-family: "Barlow Condensed", sans-serif;
    padding-top: 3rem;
    padding-left: 15vw;
    padding-right: 15vw;
    padding-bottom: 8rem;
  }
  .hero-name {
    text-shadow: 1px 1px #0008;
  }
</style>

