<button type="button" class="btn learn-btn mt-2 text-uppercase"><slot /></button>
<style>
  .learn-btn {
    background-color: #fff0;
    color: #fff;
    border: 2px solid #FFCB05;
    font-size: 1.2rem;
    transition: all 0.6s ease;
    width: 8rem;
  }
  .learn-btn:hover {
    background-color: #FFCB05;
    color: var(--bs-green);
  }
</style>